body {
  padding: 0;
  margin: 0;
  font-family: 'Archivo Narrow', sans-serif;
  --d: 4px;

  background: radial-gradient(circle at var(--d) var(--d),

      #ffd82a calc(var(--d) - 1px),
      #a01b1b00 var(--d)) 0 0 / 50px 50px;
}


::-webkit-scrollbar {
  display: none;
}

.landing-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.body-box {
  margin: 1em;
  margin-left: 10em;
  height: 50vh;
  width: 25vw;
  padding: 2em;
  box-shadow: 10px 10px 0px black;
  border-radius: 0.5em;
  outline: 5px solid black;
  font-family: 'Archivo Narrow', sans-serif;
  background-color: #ffe055;
  overflow: scroll;
}

.acc-text {
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
}

.acc-desc {
  font-family: 'Fira Sans', sans-serif;
  font-size: large;
  font-weight: 700;
}

.proj-desc {
  font-family: 'Fira Sans', sans-serif;
  font-size: large;
  font-weight: 400;
  margin-bottom: 0;
}

.button-box {
  box-shadow: 5px 5px 0px black;
  border-radius: 0.5em;
  outline: 5px solid black;
  font-weight: bold !important;
  transition: transform 0s ease, box-shadow 0.4s ease;
}

.button-box:hover {
  transform: translate(-3px, -3px);
  /* Move 3 pixels to the left and 3 pixels up */
  box-shadow: 8px 8px 0px black;
  /* Thicker shadow, but the position remains unchanged */
}

.project-box {
  height: 100%;
  width: 100%;
  box-shadow: 9px 9px 0px black !important;
  border-radius: 0.5em;
  outline: 3.5px solid black;
  overflow: scroll;
}

.contact-box {
  height: 100%;
  width: 100%;
  box-shadow: 6px 6px 0px black !important;
  border-radius: 0.5em;
  outline: 3px solid black;
  overflow: scroll;
  background-color: whitesmoke;
  margin-bottom: 0.3em;
}

.project-text {
  font-family: 'Archivo Narrow', sans-serif !important;
  font-size: 1.3em;
  margin-top: 0;
}

a {
  color: black;
  text-decoration: none;
}

.project-container {
  margin-bottom: 3em;
}

img {
  margin-right: 8em;
}

.left-container {
  height: 100vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-container .body-box {
  width: 40vw;
}

.right-container {
  height: 100vh;
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-container img {
  width: 400px;
}

@media only screen and (max-width: 900px) {
  .landing-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .body-box {
    margin-top: -4em;
    margin-left: 1em;
    padding: 1em;

  }

  h1{
    margin-top: 0;
  }
  h2{
    margin-top: -0.5em;
  }

  .left-container {
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100vw;
  }

  .left-container .body-box {
    width: 75vw;
  }

  .right-container {
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    height: 25vh;
    width: 100vw;
    padding: 1em;
  }

  .right-container img {
    width: 200px;
    margin-right: 1em;
  }
}